:root {
	color-scheme: dark;

	/* Backgrounds */
	--dark-background: #000;
	--light-background: #222;
	--lighter-background: #444;

	/* Elements and stuff */
	--border-active: #268bd2;
	--cell-focused: #00d205;
	--focus-border: #268bd2;
	--snowflake-blue: #22bef2;
	--text-color: #99b797;

	/* Editor */
	--editor-highlight-background: #444;
	--editor-selection-background: #444;

	/* Terminal */
	--terminal-def-property-attribute: #2aa198;
	--terminal-error: #dc322f;
	--terminal-keywords: #ff026a;
	--terminal-matching: #76b671;
	--terminal-number: #fdf6e3;
	--terminal-quoted: #fef611;
	--terminal-selected: #073642;
	--terminal-strings: #ffa851;
	--terminal-type: #ff25d9;
	--terminal-white: #eee8d5;

	/* Misc */
	--misc: #586e75;
	--misc-2: #93a1a1;
}

.x-box-item {
	background-color: var(--light-background);
}

.snow-tabpanel {
	.x-box-item {
		&.x-tab-default {
			&:hover {
				border-color: var(--light-background) !important;
			}
		}

		&.x-tab-active {
			.x-tab-inner-default {
				color: var(--terminal-white) !important;
			}
		}

		.x-tab-inner-default {
			background-color: var(--light-background) !important;
		}
	}
}

.x-component {
	&.x-box-item > div {
		background-color: var(--light-background) !important;

		> div > div > div {
			background-color: var(--light-background) !important;

			&:nth-child(2)::after {
				border-bottom: 1px solid #fff;
				bottom: 0;
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				width: 100%;
			}

			&:last-child > div:last-child {
				margin-bottom: 3px;
			}
		}
	}
}

.home-view,
.x-tab-bar-body,
.x-toolbar,
.x-box-inner,
.app-header,
.app-header-bg,
.snow-billing-tab,
.snow-billing-title,
.snow-billing-summary-label {
	background-color: var(--light-background) !important;
	background-image: none !important;
	color: var(--text-color) !important;
}

.app-breadcrumbs-help,
[data-for='shares-page'] {
	color: var(--text-color) !important;
}

.x-container {
	.Pane {
		> div {
			background-color: var(--light-background) !important;

			> div {
				background-color: var(--light-background) !important;
			}
		}

		.__react_component_tooltip + div > div {
			color: var(--text-color) !important;

			&v:hover {
				background-color: var(--light-background) !important;
			}
		}
	}

	&.home-common-dock-welcome {
		&,
		* {
			background-color: var(--dark-background) !important;
		}
	}

	.Resizer + div div {
		background-color: var(--light-background) !important;
		color: var(--text-color) !important;
	}
}

input {
	background-color: var(--light-background) !important;
	color: var(--text-color) !important;

	&:active,
	&:focus {
		border-color: var(--border-active) !important;
	}
}

.x-btn {
	background-color: var(--dark-background) !important;
	background-image: none !important;
}

.react-selectize {
	input {
		background-color: initial !important;
	}
}

/* Common Dock */
.home-common-dock {
	div {
		background-color: var(--light-background) !important;
	}

	> div > div {
		div {
			background-color: var(--light-background) !important;

			.home-dock-user-info-btn span {
				background-color: var(--light-background) !important;
			}
		}

		> div:first-child {
			background-color: var(--snowflake-blue) !important;

			> span > span > span:last-child {
				background-color: var(--snowflake-blue) !important;
			}
		}
	}
}

.login_name,
.snow-detail-view-title {
	color: var(--text-color) !important;
}

/* Tabs */
[data-for='editor-run-button'] {
	button {
		&:disabled {
			background-color: var(--light-background);
		}
	}
}

[data-ref='btnInnerEl'] {
	background-color: var(--dark-background) !important;
	color: var(--text-color) !important;
}

[data-tip='true'] {
	cursor: pointer;

	&[currentitem='false'] {
		&,
		div {
			background-color: var(--dark-background) !important;
			color: var(--text-color) !important;
		}

		.inline-icon-button path {
			color: var(--text-color);
			fill: var(--text-color);
		}
	}
}


[data-for='tabbar-control-add-tab'] {
	background-color: var(--light-background) !important;

	path {
		color: var(--text-color);
		fill: var(--text-color);
	}
}

/* Sidebar */
#sleet-component-1183 {
	ul li {
		color: var(--text-color);

		> div > div {
			> div:hover {
				background-color: var(--text-color) !important;
				color: var(--dark-background) !important;
			}

			&:hover img {
				filter: brightness(1);
			}
		}

		ul li ul li {
			&:hover {
				background-color: var(--text-color) !important;
				color: var(--dark-background) !important;

				> img {
					filter: brightness(1);
				}
			}

			div:hover {
				background-color: var(--text-color) !important;
				color: var(--dark-background) !important;
			}
		}
	}

	img {
		filter: brightness(2);
	}
}

/* Query Pane */
.Resizer {
	+ div {
		div,
		.SplitPane {
			background-color: var(--light-background) !important;
			color: var(--text-color) !important;
		}

		.styles__history-pane___ZcSGQ .public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
			background-color: var(--light-background) !important;
			color: var(--text-color) !important;
		}

		.fixedDataTableCellLayout_main,
		.public_fixedDataTableCell_main {
			border-right: 1px solid var(--terminal-number) !important;
		}

		.SplitPane > div > div > div:first-child {
			border-bottom: 1px solid var(--terminal-number);
			height: 33px !important;

			> div {
				padding-bottom: 0 !important;
			}
		}
	}
}

/* Modal */
.ReactModalPortal {
	*,
	.ReactModal__Content {
		background-color: var(--light-background);
		color: var(--text-color);
	}

	.CodeMirror-lines {
		background-color: var(--dark-background) !important;
	}

	.CodeMirror-code {
		div {
			background-color: var(--dark-background) !important;
		}

		.CodeMirror-line {
			&,
			span {
				background-color: var(--dark-background) !important;
			}
		}

		.CodeMirror-gutter-wrapper {
			div {
				background-color: var(--light-background) !important;
			}
		}
	}

	.ReactModal__Overlay {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/* Grid */
.x-grid-header-ct {
	background-color: var(--light-background) !important;
	background-image: none !important;
	color: var(--text-color) !important;

	div {
		background-color: var(--light-background) !important;
		background-image: none !important;
		color: var(--terminal-white) !important;
	}
}

.x-grid-view {
	background-color: var(--light-background) !important;
}

.x-grid-row {
	&:nth-child(even),
	&:nth-child(odd) {
		color: var(--terminal-white) !important;
	}

	&:nth-child(even) {
		background-color: var(--dark-background) !important;
	}

	&:nth-child(odd) {
		background-color: var(--light-background) !important;
	}
}

.x-grid-item-focused {
	color: var(--cell-focused) !important;
}

/* Data Table */
.fixedDataTableColumnResizerLineLayout_main {
	.fixedDataTableRowLayout_rowWrapper {
		&:first-child {
			background-color: var(--light-background) !important;
			background-image: none !important;
			color: var(--terminal-white) !important;
		}
	}
}

.fixedDataTableLayout_main {
	.fixedDataTableLayout_rowsContainer {
		> .fixedDataTableRowLayout_rowWrapper {
			* {
				background-color: var(--dark-background) !important;
				background-image: none !important;
				color: var(--terminal-white) !important;
			}
		}

		> div {
			&:not(.fixedDataTableRowLayout_rowWrapper) {
				.fixedDataTableRowLayout_rowWrapper {
					&:nth-child(even) *,
					&:nth-child(odd) * {
						color: var(--terminal-white) !important;
					}

					&:nth-child(even) * {
						background-color: var(--lighter-background) !important;
					}

					&:nth-child(odd) * {
						background-color: var(--light-background) !important;
					}
				}
			}
		}
	}
}

/* Color scheme for code-mirror */
.CodeMirror-line {
	color: var(--terminal-strings) !important;
}

.CodeMirror-scroll {
	background-color: var(--dark-background);
	color: var(--text-color);
	font-family: 'Inconsolata', 'Menlo';
}

.cm-header {
	color: var(--misc);
}

.cm-quote {
	color: var(--misc-2);
}

.cm-keyword {
	color: var(--terminal-keywords) !important;
}

.cm-atom {
	color: var(--keyword) !important;
}

.cm-number {
	color: var(--terminal-number) !important;
}

.cm-def {
	color: var(--terminal-def-property-attribute);
}

.cm-variable {
	color: var(--text-color);
}

.cm-variable-2 {
	color: var(--terminal-strings) !important;
	font-style: italic;
}

.cm-variable-3,
.cm-type {
	color: var(--terminal-type);
}

.cm-property {
	color: var(--terminal-def-property-attribute);
}

.cm-operator {
	color: var(--terminal-type);
}

.cm-comment {
	color: var(--misc);
	font-style: italic;
}

.cm-string {
	color: var(--terminal-quoted) !important;
}

.cm-string-2 {
	color: var(--terminal-strings) !important;
}

.cm-meta {
	color: var(--terminal-matching);
}

.cm-qualifier {
	color: var(--terminal-strings);
}

.cm-builtin {
	color: var(--terminal-type) !important;
}

.cm-bracket {
	color: var(--terminal-keywords);
}

.CodeMirror-matchingbracket {
	color: var(--terminal-matching) !important;
}

.CodeMirror-nonmatchingbracket {
	color: var(--terminal-error) !important;
}

.cm-tag {
	color: var(--misc-2);
}

.cm-attribute {
	color: var(--terminal-def-property-attribute);
}

.cm-hr {
	border-top: 1px solid var(--misc);
	color: transparent;
	display: block;
}

.cm-link {
	color: var(--misc-2);
	cursor: pointer;
}

.cm-special {
	color: var(--terminal-type);
}

.cm-em {
	color: #999;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.cm-error,
.cm-invalidchar {
	border-bottom: 1px dotted var(--terminal-error);
	color: var(--terminal-error);
}

div.CodeMirror-selected {
	background: var(--terminal-selected);
}

.CodeMirror-focused {
	.CodeMirror-selected {
		background: var(--editor-selection-background) !important;
	}
}

/* Editor styling */

/* Gutter */
.CodeMirror-gutters {
	background-color: var(--dark-background) !important;
	border-right: 1px solid var(--editor-highlight-background) !important;
}

.CodeMirror-linenumber {
	padding: 0 5px;
}

.CodeMirror-guttermarker-subtle {
	color: var(--misc);
}

.CodeMirror-guttermarker {
	color: #ddd;
}

.CodeMirror-gutter {
	.CodeMirror-gutter-text {
		color: var(--misc);
	}
}

/* Cursor */
.CodeMirror-cursor {
	border-left: 1px solid var(--misc) !important;
}

/* Fat cursor */
.cm-fat-cursor {
	.CodeMirror-cursor {
		background: var(--misc) !important;
	}
}

.cm-animate-fat-cursor {
	background-color: var(--misc) !important;
}

/* Active line */
.CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.06);
}
